@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');


/* CSS reset */
* {
  margin: 0;
}


/* Brand styles */
:root {
  --primary-color-green: #495E57;
  --primary-color-yellow: #f4ce14;

  --secondary-color-pink: #ee9972;
  --secondary-color-tan: #fbdabb;

  --highlight-color-dark: #edefee;
  --highlight-color-light: #333333;
}

body {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Markazi Text', serif;
}

footer {
  background-color: var(--primary-color-green);
  padding: 3rem 0 6rem 0;
  color: var(--primary-color-yellow);
  text-align: center;
}


/* Layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 0 8rem;
}

header img {
  display: block;
  margin: 2rem auto;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 3rem;
}


/* Styling */
nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--highlight-color-light);
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}

label {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}

#submit {
  margin-top: 1.5rem;
}

#banner {
  background-color: var(--primary-color-green);
  padding: 4rem 8rem;
  margin: 0 -8rem;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner h1 {
  color: var(--primary-color-yellow);
  margin: 0;
}

#banner h2 {
  color: whitesmoke;
  margin: 0;
}

#banner p {
  font-size: 1.2rem;
  max-width: 90%;
}

#banner img {
  max-height: 200px;
  border-radius: 1rem;
}

#specials {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
  flex-wrap: wrap;
}

#specials .card {
  flex: 1 1 100px;
  border-radius: 1rem;
  background-color: var(--highlight-color-dark);
  padding: 1rem;
  font-size: 1.3rem;
  min-width: 200px;
}

#specials .card .top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#specials .card .top-row span {
  font-size: 1rem;
  color: var(--secondary-color-pink);
}

#specials .card .description {
  font-size: 1rem;
  margin: 1rem 0;
}