@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');


/* CSS reset */
body {
  margin: 0;
}


/* Brand styles */
:root {
  --primary-color-green: #495E57;
  --primary-color-yellow: #f4ce14;

  --secondary-color-pink: #ee9972;
  --secondary-color-tan: #fbdabb;

  --highlight-color-dark: #edefee;
  --highlight-color-light: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Markazi Text', serif;
  border: 4px solid blue;
}

p,
span {
  font-family: 'Karla', sans-serif;
}


/* Layout */
header img {
  display: block;
  margin: 2rem auto;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 3rem;
}